<%- include('partials/header') %>
<%if (message) {%>
<div style="text-align: center" class="alert alert-{{message.type}}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%=message['intro']%></strong> <p><%=message['message']%></p>
</div>
<%}%>
<h1><%= details[0].title %></h1>
<h2><%= details[0].ISBN %></h2>
<h2><%- details[0].author %></h2>
<h2><%= details[0].year_of_pub %></h2>
<h4><%= details[0].shelf_id %></h4>
<h4><%= details[0].current_status %></h4>
<h4><%= avgRating %></h4>
<table >
    <thead>
        <th>Copy Number</th>
        <th>Availability</th>
    </thead>
    <tbody>
        
            <% copies.forEach(function(copy){    %>
            <tr>
                <td><%= copy.copy_number %></td>
                <% if(copy.current_status===1){  %>
                <td>Availiable</td>
                <% }else{   %>
                <td>Unavailiable</td>
                <% }  %>
            </tr>
            <% })   %>
        
    </tbody>
    
</table>
<form action="/hold_request/<%= details[0].ISBN %>" method="post">
    <% if(hold){  %>
        <button type="submit" id="Hold">Hold</button>
    <%  }else{  %>
        <button type="submit" role="button" id="Hold" disabled>Hold</button>
    <%  }  %>
</form>
<form action="/issue/<%= details[0].ISBN %>" method="post">
    <% if(issue){  %>
        <button type="submit" id="Issue">issue</button>
    <%  } %>
</form>

<form action="/book_shelf/<%= details[0].ISBN %>" method="post">
    <% if(book_shelf){  %>
        <button type="submit" id="Issue">Add to Book Shelf</button>
    <%  }else{ %>
        <h4>Book Exists in Book_shelf</h4>
    <% } %> 
</form>
<a href="/dashboard/feedback/<%= Isbn%>">Give Feedback</a>
<h4>User Feedbacks</h4>
<table border="1px">
    <thead>
        <th>ID</th>
        <th>Rating</th>
        <th>Review</th>
    </thead>
    <tbody>
        
            <% data.forEach(function(result){    %>
            <tr>
                <td><%= result.ID %></td>
                <td><%= result.rating %></td>
                <td><%= result.Reviews %></td>
            </tr>
            <% })   %>
        
    </tbody>
    
</table>
<%- include('partials/footer') %>